<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perfil">
            <h2><span jhiTranslate="recdataApp.perfil.detail.title">Perfil</span> {{perfil.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recdataApp.perfil.secret">Secret</span></dt>
                <dd>
                    <span>{{perfil.secret}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.perfil.user">User</span></dt>
                <dd>
                    {{perfil.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perfil', perfil.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
