<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="muestra">
            <h2><span jhiTranslate="recdataApp.muestra.detail.title">Muestra</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recdataApp.muestra.nombre">Nombre</span></dt>
                <dd>
                    <span>{{muestra.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.muestra.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="muestra.logo">
                        <a (click)="openFile(muestra.logoContentType, muestra.logo)">
                            <img [src]="'data:' + muestra.logoContentType + ';base64,' + muestra.logo" style="max-width: 100%;" alt="muestra image"/>
                        </a>
                        {{muestra.logoContentType}}, {{byteSize(muestra.logo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="recdataApp.muestra.inicio">Inicio</span></dt>
                <dd>
                    <span>{{muestra.inicio}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.muestra.activo">Activo</span></dt>
                <dd>
                    <span>{{muestra.activo}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.muestra.formulario">Formulario</span></dt>
                <dd>
                    <div *ngIf="muestra.formulario">
                        <a [routerLink]="['/formulario', muestra.formulario?.id, 'view']">{{muestra.formulario?.nombre}}</a>
                    </div>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="recdataApp.muestra.user">User</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{muestra.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/muestra', muestra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
