<div>
    <h2 id="page-heading">
        <span jhiTranslate="recdataApp.muestra.home.title">Muestras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-muestra" [routerLink]="['/muestra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="recdataApp.muestra.home.createLabel">
            Create a new Muestra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="muestras?.length === 0">
        <span jhiTranslate="recdataApp.muestra.home.notFound">No muestras found</span>
    </div>
    <div class="table-responsive" *ngIf="muestras?.length > 0">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                    <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="nombre"><span jhiTranslate="recdataApp.muestra.nombre">Nombre</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th><span jhiTranslate="recdataApp.muestra.logo">Logo</span></th>
                    <th jhiSortBy="inicio"><span jhiTranslate="recdataApp.muestra.inicio">Inicio</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="activo"><span jhiTranslate="recdataApp.muestra.activo">Activo</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th jhiSortBy="formulario.nombre"><span jhiTranslate="recdataApp.muestra.formulario">Formulario</span><fa-icon [icon]="'sort'"></fa-icon></th>
                    <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="recdataApp.muestra.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let muestra of muestras ;trackBy: trackId">
                <td><a [routerLink]="['/muestra', muestra.id, 'view' ]">{{muestra.id}}</a></td>
                <td>{{muestra.nombre}}</td>
                <td>
                    <a *ngIf="muestra.logo" (click)="openFile(muestra.logoContentType, muestra.logo)">
                        <img [src]="'data:' + muestra.logoContentType + ';base64,' + muestra.logo" style="max-height: 30px;" alt="muestra image"/>
                    </a>
                    <span *ngIf="muestra.logo">{{muestra.logoContentType}}, {{byteSize(muestra.logo)}}</span>
                </td>
                <td>{{muestra.inicio | date:'mediumDate'}}</td>
                <td>
                    <fa-icon [icon]="muestra.activo ? 'check' : 'stop'" aria-hidden="true" fixedWidth="true"
                             class="{{muestra.activo ? 'text-success' : 'text-danger'}}"></fa-icon>
                    <fa-icon icon="calendar" fixedWidth="true"></fa-icon>
                </td>
                <td>
                    <div *ngIf="muestra.formulario">
                        <a [routerLink]="['/formulario', muestra.formulario?.id, 'view' ]" >{{muestra.formulario?.nombre}}</a>
                    </div>
                </td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{muestra.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/muestra', muestra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/muestra', muestra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/muestra', { outlets: { popup: muestra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/muestra', { outlets: { popup: muestra.id + '/patch'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'sync'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.patch">Refrescar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="muestras?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
