<form name="patchForm" (ngSubmit)="confirmPatch(muestra.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.patch.title">Confirm patch operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-patch-muestra-heading" jhiTranslate="recdataApp.muestra.patch.question" [translateValues]="{id: muestra.id}">Are you sure you want to patch this Muestra?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button id="jhi-confirm-patch-muestra" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.patch">Patch</span>
        </button>
    </div>
</form>
