<div class="row justify-content-center">
    <div class="col-10">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 id="jhi-formulario-heading" jhiTranslate="recdataApp.formulario.home.createOrEditLabel">Create or edit a Formulario</h2>
                    </div>
                    <div class="col-md-8 text-right">
                        <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group" [hidden]="!editForm.get('id').value">
                                <label for="id" class="font-weight-bold" jhiTranslate="global.field.id">ID</label>
                                <input type="text" class="form-control" id="id" name="id" formControlName="id"
                                    readonly />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-control-label font-weight-bold" jhiTranslate="recdataApp.formulario.nombre" for="field_nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre" id="field_nombre"
                                       formControlName="nombre"/>
                                <div *ngIf="editForm.get('nombre').invalid && (editForm.get('nombre').dirty || editForm.get('nombre').touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('nombre').errors.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="form-control-label font-weight-bold" jhiTranslate="recdataApp.formulario.descripcion" for="field_descripcion">Descripcion</label>
                                <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                                       formControlName="descripcion"/>
                            </div>
                        </div>

                        <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                            <label class="form-control-label font-weight-bold" jhiTranslate="recdataApp.formulario.user" for="field_user">User</label>
                            <select class="form-control" id="field_user" name="user" formControlName="user">
                                <option [ngValue]="null"></option>
                                <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" cdkDropList
                     #tiposList="cdkDropList"
                     cdkDropListSortingDisabled
                     [cdkDropListData]="tiposdedatos"
                     [cdkDropListConnectedTo]="[camposList]">
                    <div class="col-md-2 bg-primary rounded-top"  >
                        <div class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed"
                                cdkDrag *ngFor="let tipoitem of tiposdedatos.grupo01">
                                <div>
                                    <h6 class="my-0">{{'recdataApp.TIPO.'+tipoitem | translate}}</h6>
                                    <small class="text-muted">{{ tipoitem }}</small>
                                </div>
                            </li>
                        </div>

                        <div class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed"
                                cdkDrag *ngFor="let tipoitem of tiposdedatos.grupo02">
                                <div>
                                    <h6 class="my-0">{{'recdataApp.TIPO.'+tipoitem | translate}}</h6>
                                    <small class="text-muted">{{ tipoitem }}</small>
                                </div>
                            </li>
                        </div>

                        <div class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed"
                                cdkDrag *ngFor="let tipoitem of tiposdedatos.grupo03">
                                <div>
                                    <h6 class="my-0">{{'recdataApp.TIPO.'+tipoitem | translate}}</h6>
                                    <small class="text-muted">{{ tipoitem }}</small>
                                </div>
                            </li>
                        </div>


                        <div class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed"
                                cdkDrag *ngFor="let tipoitem of tiposdedatos.grupo04">
                                <div>
                                    <h6 class="my-0">{{'recdataApp.TIPO.'+tipoitem | translate}}</h6>
                                    <small class="text-muted">{{ tipoitem }}</small>
                                </div>
                            </li>
                        </div>

                        <div class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed"
                                cdkDrag *ngFor="let tipoitem of tiposdedatos.grupo05">
                                <div>
                                    <h6 class="my-0">{{'recdataApp.TIPO.'+tipoitem | translate}}</h6>
                                    <small class="text-muted">{{ tipoitem }}</small>
                                </div>
                            </li>
                        </div>

                    </div>
                    <div class="col-md-6"
                         style="display: flex;">
                        <div cdkDropList
                             #camposList="cdkDropList"
                             [cdkDropListData]="campos"
                             [cdkDropListConnectedTo]="[borrarList]"
                             (cdkDropListDropped)="dropOrder($event)" class="list-group"
                             style="width: 100%; border-style: dashed">
                            <div class="list-group-item d-flex justify-content-between align-items-center"
                                *ngFor="let campo of campos; index as i ;trackBy: trackIdCampo"
                                [ngClass]="{'active': i == indiceActual, 'tachado': campo.posicion == -1 }"
                                (click)="selCampo(campo, i)" cdkDrag>
                                <span>
                                    <h6 >{{ campo.nombreCampo}}
                                    </h6>
                                    <small class="text-muted">{{campo.descripcion }}</small>
                                </span>
                                <span class="badge badge-primary badge-pill">{{campo.tipo }}</span>
                                <div *cdkDragPreview class="bg-danger text-light p-3 rounded">
                                    {{ campo.nombreCampo}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <form name="editCampo" role="form" novalidate (ngSubmit)="save()" [formGroup]="editCampo" *ngIf="indiceActual != -1">
                        <ul class="list-group mb-3">
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="recdataApp.campo.nombreCampo" for="field_nombreCampo">Nombre Campo</label>
                                    <input type="text" class="form-control" name="nombreCampo" id="field_nombreCampo"
                                           formControlName="nombreCampo"/>
                                    <div *ngIf="editCampo.get('nombreCampo').invalid && (editCampo.get('nombreCampo').dirty || editCampo.get('nombreCampo').touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editCampo.get('nombreCampo').errors.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="recdataApp.campo.descripcion" for="field_descripcion">Descripcion</label>
                                    <input type="text" class="form-control" name="descripcion" id="field_campo_descripcion"
                                           formControlName="descripcion"/>
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div class="form-group">
                                    <label class="form-control-label" jhiTranslate="recdataApp.campo.requerido" for="field_requerido">Requerido</label>
                                    <input type="checkbox" class="form-control" name="requerido" id="field_requerido"
                                           formControlName="requerido"/>
                                    <div *ngIf="editCampo.get('requerido').invalid && (editCampo.get('requerido').dirty || editCampo.get('requerido').touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editCampo.get('requerido').errors.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </form>
                    </div>
                </div>


            </div>
        </form>
    </div>
    <div class="float bg-primary" cdkDropList
         [ngClass]="{'bg-danger': overBorrado}"
         (cdkDropListDropped)="dropBorrar($event)"
         (cdkDropListEntered)="borrarEnter($event)"
         (cdkDropListExited)="borrarExit($event)"
         #borrarList="cdkDropList">
        <fa-icon [icon]="'trash-alt'" class="my-float"></fa-icon>
    </div>
</div>
