<div>
    <h2 id="page-heading">
        <span jhiTranslate="recdataApp.formulario.home.title">Formularios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-formulario" [routerLink]="['/formulario/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="recdataApp.formulario.home.createLabel">
            Create a new Formulario
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="formularios?.length === 0">
        <span jhiTranslate="recdataApp.formulario.home.notFound">No formularios found</span>
    </div>
    <div class="table-responsive" *ngIf="formularios?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="recdataApp.formulario.nombre">Nombre</span></th>
            <th><span jhiTranslate="recdataApp.formulario.descripcion">Descripcion</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="recdataApp.formulario.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let formulario of formularios ;trackBy: trackId">
                <td><a [routerLink]="['/formulario', formulario.id, 'view' ]">{{formulario.id}}</a></td>
                <td>{{formulario.nombre}}</td>
                <td>{{formulario.descripcion}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{formulario.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/formulario', formulario.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/formulario', formulario.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/formulario', { outlets: { popup: formulario.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
