<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formulario">
            <h2><span jhiTranslate="recdataApp.formulario.detail.title">Formulario</span> {{formulario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <jhi-alert></jhi-alert>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recdataApp.formulario.nombre">Nombre</span></dt>
                <dd>
                    <span>{{formulario.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.formulario.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{formulario.descripcion}}</span>
                </dd>
                <dt *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="recdataApp.formulario.user">User</span></dt>
                <dd *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{formulario.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/formulario', formulario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>

            <button type="submit"
                    [routerLink]="['/formulario', { outlets: { popup: formulario.id + '/delete'} }]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class="btn btn-danger">
                <fa-icon [icon]="'times'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
            </button>

            <h2 id="page-heading">
                <span jhiTranslate="recdataApp.campo.home.title">Campos</span>
                <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campo" [routerLink]="['/campo', formulario.id, 'add']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span  jhiTranslate="recdataApp.campo.home.createLabel">
            Create a new Campo
            </span>
                </button>
            </h2>

            <div class="alert alert-warning" *ngIf="campos?.length === 0">
                <span jhiTranslate="recdataApp.campo.home.notFound">No campos found</span>
            </div>
            <div class="table-responsive" *ngIf="campos?.length > 0">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="global.field.id">ID</span></th>
                        <th><span jhiTranslate="recdataApp.campo.nombreCampo">Nombre Campo</span></th>
                        <th><span jhiTranslate="recdataApp.campo.descripcion">Descripcion</span></th>
                        <th><span jhiTranslate="recdataApp.campo.tipo">Tipo</span></th>
                        <th><span jhiTranslate="recdataApp.campo.requerido">Requerido</span></th>
                        <th><span jhiTranslate="recdataApp.campo.posicion">Posicion</span></th>
                        <!--
                        <th><span jhiTranslate="recdataApp.campo.formulario">Formulario</span></th>
                        -->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let campo of campos ;trackBy: trackId">
                        <td><a [routerLink]="['/campo', campo.id, 'view' ]">{{campo.id}}</a></td>
                        <td>{{campo.nombreCampo}}</td>
                        <td>{{campo.descripcion}}</td>
                        <td jhiTranslate="{{'recdataApp.TIPO.' + campo.tipo}}">{{campo.tipo}}</td>
                        <td>{{campo.requerido}}</td>
                        <td>{{campo.posicion}}</td>
                        <!--
                        <td>
                            <div *ngIf="campo.formulario">
                                <a [routerLink]="['/formulario', campo.formulario?.id, 'view' ]" >{{campo.formulario?.id}}</a>
                            </div>
                        </td>
                        -->
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/campo', campo.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/campo', campo.id, 'edit']"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        (click)="open(campo)"
                                        class="btn btn-danger btn-sm">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>
