<div>
    <h2 id="page-heading">
        <span jhiTranslate="recdataApp.registro.home.title">Registros</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-registro" [routerLink]="['/registro/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="recdataApp.registro.home.createLabel">
            Create a new Registro
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="registros?.length === 0">
        <span jhiTranslate="recdataApp.registro.home.notFound">No registros found</span>
    </div>
    <div class="table-responsive" *ngIf="registros?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="recdataApp.registro.nombre">Nombre</span></th>
            <th><span jhiTranslate="recdataApp.registro.fecha">Fecha</span></th>
            <th><span jhiTranslate="recdataApp.registro.borrado">Borrado</span></th>
            <th><span jhiTranslate="recdataApp.registro.muestra">Muestra</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let registro of registros ;trackBy: trackId">
                <td><a [routerLink]="['/registro', registro.id, 'view' ]">{{registro.id}}</a></td>
                <td>{{registro.nombre}}</td>
                <td>{{registro.fecha | date:'medium'}}</td>
                <td>{{registro.borrado}}</td>
                <td>
                    <div *ngIf="registro.muestra">
                        <a [routerLink]="['/muestra', registro.muestra?.id, 'view' ]" >{{registro.muestra?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/registro', registro.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/registro', registro.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/registro', { outlets: { popup: registro.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
