<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="registro">
            <h2><span jhiTranslate="recdataApp.registro.detail.title">Registro</span> {{registro.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recdataApp.registro.nombre">Nombre</span></dt>
                <dd>
                    <span>{{registro.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.registro.fecha">Fecha</span></dt>
                <dd>
                    <span>{{registro.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.registro.borrado">Borrado</span></dt>
                <dd>
                    <span>{{registro.borrado}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.registro.muestra">Muestra</span></dt>
                <dd>
                    <div *ngIf="registro.muestra">
                        <a [routerLink]="['/muestra', registro.muestra?.id, 'view']">{{registro.muestra?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/registro', registro.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
