<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listado">
            <h2><span jhiTranslate="recdataApp.listado.detail.title">Listado</span> {{listado.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recdataApp.listado.name">Name</span></dt>
                <dd>
                    <span>{{listado.name}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.listado.user">User</span></dt>
                <dd>
                    {{listado.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/listado', listado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
