<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campo">
            <h2><span jhiTranslate="recdataApp.campo.detail.title">Campo</span> {{campo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recdataApp.campo.nombreCampo">Nombre Campo</span></dt>
                <dd>
                    <span>{{campo.nombreCampo}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.campo.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{campo.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.campo.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{'recdataApp.TIPO.' + campo.tipo}}">{{campo.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.campo.requerido">Requerido</span></dt>
                <dd>
                    <span>{{campo.requerido}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.campo.posicion">Posicion</span></dt>
                <dd>
                    <span>{{campo.posicion}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.campo.formulario">Formulario</span></dt>
                <dd>
                    <div *ngIf="campo.formulario">
                        <a [routerLink]="['/formulario', campo.formulario?.id, 'view']">{{campo.formulario?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campo', campo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
