<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-campo-heading" jhiTranslate="recdataApp.campo.home.createOrEditLabel">Create or edit a Campo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recdataApp.campo.nombreCampo" for="field_nombreCampo">Nombre Campo</label>
                    <input type="text" class="form-control" name="nombreCampo" id="field_nombreCampo"
                           formControlName="nombreCampo"/>
                    <div *ngIf="editForm.get('nombreCampo').invalid && (editForm.get('nombreCampo').dirty || editForm.get('nombreCampo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombreCampo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recdataApp.campo.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recdataApp.campo.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo">
                        <option value="Text">{{'recdataApp.TIPO.Text' | translate}}</option>
                        <option value="MultilineText">{{'recdataApp.TIPO.MultilineText' | translate}}</option>
                        <option value="Email">{{'recdataApp.TIPO.Email' | translate}}</option>
                        <option value="Password">{{'recdataApp.TIPO.Password' | translate}}</option>
                        <option value="Phone">{{'recdataApp.TIPO.Phone' | translate}}</option>
                        <option value="Number">{{'recdataApp.TIPO.Number' | translate}}</option>
                        <option value="Decimal">{{'recdataApp.TIPO.Decimal' | translate}}</option>
                        <option value="Switch">{{'recdataApp.TIPO.Switch' | translate}}</option>
                        <option value="Stepper">{{'recdataApp.TIPO.Stepper' | translate}}</option>
                        <option value="Slider">{{'recdataApp.TIPO.Slider' | translate}}</option>
                        <option value="Picker">{{'recdataApp.TIPO.Picker' | translate}}</option>
                        <option value="SegmentedEditor">{{'recdataApp.TIPO.SegmentedEditor' | translate}}</option>
                        <option value="List">{{'recdataApp.TIPO.List' | translate}}</option>
                        <option value="DatePicker">{{'recdataApp.TIPO.DatePicker' | translate}}</option>
                        <option value="TimePicker">{{'recdataApp.TIPO.TimePicker' | translate}}</option>
                        <option value="AutoCompleteInline">{{'recdataApp.TIPO.AutoCompleteInline' | translate}}</option>
                        <option value="Label">{{'recdataApp.TIPO.Label' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipo').invalid && (editForm.get('tipo').dirty || editForm.get('tipo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recdataApp.campo.requerido" for="field_requerido">Requerido</label>
                    <input type="checkbox" class="form-control" name="requerido" id="field_requerido"
                           formControlName="requerido"/>
                    <div *ngIf="editForm.get('requerido').invalid && (editForm.get('requerido').dirty || editForm.get('requerido').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('requerido').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recdataApp.campo.posicion" for="field_posicion">Posicion</label>
                    <input type="number" class="form-control" name="posicion" id="field_posicion"
                           formControlName="posicion"/>
                </div>

                <div class="form-group" *ngIf="false">
                    <label class="form-control-label" jhiTranslate="recdataApp.campo.formulario" for="field_formulario">Formulario</label>
                    <select class="form-control" id="field_formulario" name="formulario" formControlName="formulario">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="formularioOption.id === editForm.get('formulario').value?.id ? editForm.get('formulario').value : formularioOption"
                                *ngFor="let formularioOption of formularios; trackBy: trackFormularioById">{{formularioOption.nombre}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
