<jhi-alert></jhi-alert>
<div class="row">
    <div class="col-md-3" *ngIf="!isAuthenticated()">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div [ngClass]="isAuthenticated() ? 'col-md-12' : 'col-md-9'" [ngSwitch]="isAuthenticated()">

        <h1 class="display-4" jhiTranslate="home.title"  *ngSwitchCase="false">Welcome to Recdata!</h1>
        <p class="lead" jhiTranslate="home.subtitle">Recoleccion de datos</p>

        <h2 *ngSwitchCase="true">
            <span jhiTranslate="recdataApp.muestra.home.title">Muestras</span>
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-muestra" [routerLink]="['/muestra/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span  jhiTranslate="recdataApp.muestra.home.createLabel">
            Create a new Muestra
            </span>
            </button>
        </h2>

        <div [ngSwitch]="isAuthenticated()">
            <!--
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}".</span>
            </div>
-->
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
                <!--
                <span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                -->
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>

            <div *ngSwitchCase="true">

                <div class="alert alert-warning" *ngIf="muestras?.length === 0">
                    <span jhiTranslate="recdataApp.muestra.home.notFound">No muestras found</span>
                </div>
                <div class="table-responsive" *ngIf="muestras?.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th><span jhiTranslate="recdataApp.muestra.logo">&nbsp;</span></th>
                            <th jhiSortBy="nombre"><span jhiTranslate="recdataApp.muestra.nombre">Nombre</span><fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="inicio"><span jhiTranslate="recdataApp.muestra.inicio">Inicio</span><fa-icon [icon]="'sort'"></fa-icon></th>
                            <th jhiSortBy="activo"><span jhiTranslate="recdataApp.muestra.activo">Activo</span><fa-icon [icon]="'sort'"></fa-icon></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let muestra of muestras ;trackBy: trackIdMuestra">
                            <td>
                                <a *ngIf="muestra.logo" [routerLink]="['/muestra', muestra.id, 'view' ]">
                                    <img [src]="'data:' + muestra.logoContentType + ';base64,' + muestra.logo" style="max-height: 30px;" alt="muestra image"/>
                                </a>
                            </td>
                            <td><a [routerLink]="['/muestra', muestra.id, 'view' ]">{{muestra.nombre}}</a></td>
                            <td>{{muestra.inicio | date:'mediumDate'}}</td>
                            <td>
                                <fa-icon [icon]="muestra.activo ? 'check' : 'stop'" aria-hidden="true" fixedWidth="true"
                                         class="{{muestra.activo ? 'text-success' : 'text-danger'}}"></fa-icon>
                                <fa-icon icon="calendar" fixedWidth="true"></fa-icon>
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="submit"
                                            [routerLink]="['/muestra', muestra.id, 'view' ]"
                                            class="btn btn-info btn-sm">
                                        <fa-icon [icon]="'eye'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div [hidden]="muestras?.length === 0">
                    <div class="row justify-content-center">
                        <jhi-item-count [page]="page" [total]="totalItems"
                                        [itemsPerPage]="itemsPerPage"></jhi-item-count>
                    </div>
                    <div class="row justify-content-center">
                        <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
