<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="listadet">
            <h2><span jhiTranslate="recdataApp.listadet.detail.title">Listadet</span> {{listadet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="recdataApp.listadet.name">Name</span></dt>
                <dd>
                    <span>{{listadet.name}}</span>
                </dd>
                <dt><span jhiTranslate="recdataApp.listadet.listado">Listado</span></dt>
                <dd>
                    <div *ngIf="listadet.listado">
                        <a [routerLink]="['/listado', listadet.listado?.id, 'view']">{{listadet.listado?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/listadet', listadet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
