<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-listadet-heading" jhiTranslate="recdataApp.listadet.home.createOrEditLabel">Create or edit a Listadet</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recdataApp.listadet.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="recdataApp.listadet.listado" for="field_listado">Listado</label>
                    <select class="form-control" id="field_listado" name="listado" formControlName="listado">
                        <option *ngIf="!editForm.get('listado').value" [ngValue]="null" selected></option>
                        <option [ngValue]="listadoOption.id === editForm.get('listado').value?.id ? editForm.get('listado').value : listadoOption" *ngFor="let listadoOption of listados; trackBy: trackListadoById">{{listadoOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('listado').invalid && (editForm.get('listado').dirty || editForm.get('listado').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('listado').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
